@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

//* { background-color: rgba( 0, 0, 0, 0.1 ); }

body{
	font-family: "Arial";
}

#encabezado{
	background-color: black;
	color: white;
	// * { outline: 1px solid rgba( 255, 0, 0, 0.2 ); }

	h1.logo{
		margin: 0;
		line-height: 0;
		@include breakpoint(large) {
			margin-bottom: -100px;
		}
	}

	.navegacion{
		background-color: #323131;
	}

	.boton-menu{
		//margin-top: -100%;
		background: black;
		text-align: right;
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
	}

	.titular{
		background-image: url(http://images.m-magazine.com/uploads/posts/image/74724/game-shakers-cree-cicchino.jpg);
		background-size: cover;
		background-position: center;


		.row{
			min-height: 160px;
		}
	}
}




#menu-principal{
	@include breakpoint(large) {
		margin-left: 320px;

		>.menu{
			display: flex;
		}
	}



	li{
		background-color: #323131;

		@include breakpoint(large) {
			flex: 1 1 150px;
			display: flex;
			align-items: center;
		}


		&.active{
			background-color: #EB1D23;
		}

		&.opens-right,
		&.is-accordion-submenu-parent{
			a::after{
				border: none;
				border-bottom: 2px solid white;
				border-right: 2px solid white;
				width: 6px;
				height: 6px;
				transform: rotate(45deg);
				margin-top: -4px;
			}
		}

		.enlace{
			color: white;
			background: none;
			text-transform: uppercase;
			text-align: center;
			padding: 0.5rem;
			font-size: 0.7rem;
			line-height: 1.4;

			@include breakpoint(large) {
				flex: 1 1 auto;
				margin-top: 0.5rem;
			}
		}

		.menu{
			background-color: #EB1D23;

			@include breakpoint(large) {
				margin-top: 0.2rem;
			}

			li{
				background-color: #EB1D23;
			}

			.enlace{
				opacity: 0.75;
				text-align: left;

				&:hover{
					opacity: 1;
				}
			}
		}
	}
}

#cuerpo{
	background-image: url(../img/fondo-edificios.png);
	background-position: center bottom;
	background-size: 100%;
	background-repeat: no-repeat;
	//* { outline: 1px solid rgba( 255, 255, 0, 0.5 ); }

	.contenido{
		margin-top: 1rem;
		padding: 1rem;

		border-bottom: 1px solid #888483;

		.titulo{
			text-transform: uppercase;
			font-size: 1.2rem;
			font-weight: bold;

			&::after{
				content: " ";
				display: block;
				background-color: #EB1D23;
				height: 3px;
				width: 80px;
			}
		}

		.parrafo{
			text-align: justify;
			font-size: 0.9rem;
		}

		.doble{
			@include breakpoint(large) {
				column-gap: 30px;
				column-count: 2;
			}
		}

		.foto, .miembro{
			padding-bottom: 1rem;
			display: block;

			img{
				display: block;
				width: 100%;
			}

			span{
				display: block;
			}

			.nombre{
				font-weight: bold;
				margin: 0.5rem 0 0;
			}

		}

	}

	.botones{
		padding: 1rem;
		text-align: center;

		@include breakpoint(medium) {
			text-align: left;
		}

		.enlace{
			margin: 0.5rem;
			display: inline-block;
		}
	}

}


#pie{
	padding: 0.5rem 0;
	background-color: #4D4C4D;
	color: white;
	text-align:  center;

	span{
		margin: 0.5rem 0;
		display: inline-block;
	}

	.enlace{
		display: inline-block;
		margin: 0 0.2rem;
	}
}

.transition {
    -webkit-transition: top 400ms linear;
    -moz-transition: top 400ms linear;
    -ms-transition: top 400ms linear;
    -o-transition: top 400ms linear;
    transition: top 400ms linear;
}

#crono{
	//* { outline: 1px solid rgba( 255, 255, 0, 0.5 ); }
	display: inline-block;
	vertical-align: middle;

	.ds-element{
		//float: left;
		display: inline-block;
		position: relative;
		margin: 0.2rem;
	}

	.ds-element-title{
		display: none;
	}

	.ds-element-value{
		background: linear-gradient(to bottom, #ffb2b2 0%,#ff4a4a 10%,#ff4a4a 50%,#ff1112 50%,#ff4a4a 50%,#ff1112 50%,#ff1112 90%,#ff7f7f 100%);
		text-align: center;
		font-weight: bold;
		display: block;
		min-width: 2em;
		padding: 0.1em 0;
	}

	font-family: Tahoma, Verdana, Aial, sans-serif;
	font-size: 28px;
	line-height: 108%;
	font-weight: bold;
	height: 32px;

	span {
		vertical-align: top;
	}

	figure {
		display: inline-block;
		margin: 0;
		padding: 0;
		overflow: visible;
		position: relative;
	}

	div {
		background: linear-gradient(to bottom, #ffb2b2 0%,#ff4a4a 10%,#ff4a4a 50%,#ff1112 50%,#ff4a4a 50%,#ff1112 50%,#ff1112 90%,#ff7f7f 100%);
		text-align: center;
		font-weight: bold;
		position: relative;
		display: inline-block;
		width: 40px;
    	height: 24px;
		overflow: hidden;
		vertical-align: top;

		.first {
			border-left: 1px solid silver;
		}
	}

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		position: absolute;
		left: 3px;

		li {
			margin: 0;
			padding: 0;
			list-style: none;
			display: block;
			line-height: 1.1;
		}
	}

}

#otros{
	.sociales{
		position: fixed;
		top: 30%;
		right: 0;
		transition: all 300ms linear;

		&.visible{
			right: 250px;
		}

		.enlace{
			display: block;
			margin: 0.2rem 0;
			padding: 0.5rem;
			border-radius: 0.5rem 0 0 0.5rem;

			&.fb{
				background-color: #0256A5;
			}

			&.tw{
				background-color: #02BBF0;
			}

			img{
				display: block;
				margin: auto;
			}
		}

		.marco-tw{
			position: absolute;
			top: 0;
			left: 100%;
			width: 250px;
		}
	}
}
