<section id="pagina">

	{{> encabezado }}

	<article id="cuerpo">

		<div class="row">
			<div class="column">
				<div class="contenido">
					<h3 class="titulo">Comisión Organizadora</h3>

					<p class="parrafo doble">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere incidunt cum ut ipsum, suscipit totam qui deserunt repudiandae! Laudantium ad, fugit laborum vel labore ipsa dolorem, explicabo sed aperiam quaerat magnam quidem dolorum qui sint odit facere eligendi voluptates repudiandae error. Nulla a deleniti, explicabo sint laborum illum impedit quas similique. Odit optio ea, assumenda iure quos minima iste voluptas consectetur, molestias laudantium dolore voluptatem nisi velit. Nobis, esse, quod! Distinctio perspiciatis, dignissimos officiis minus blanditiis optio magni? Tenetur quaerat, excepturi omnis rerum blanditiis possimus. Provident nulla sapiente quasi omnis rem autem nisi, impedit! Omnis cupiditate inventore alias corporis earum est pariatur ducimus consectetur soluta dolor possimus, architecto voluptatem perferendis voluptates reiciendis natus nemo animi ullam quo doloremque minima! Fuga tempore aperiam, unde aliquid praesentium voluptatem minima, error nisi dolore, enim pariatur perferendis veritatis et maxime fugit quos itaque. Magnam veritatis fugiat tenetur quod dolore laborum nostrum consequuntur, porro voluptate veniam perferendis similique maxime, debitis asperiores, obcaecati sint necessitatibus! In, impedit, ipsa. Nemo repellat voluptatum, quo excepturi delectus sit, exercitationem dolore id non voluptatibus pariatur hic perspiciatis possimus ab illo? Dolore natus non possimus hic, quia illum exercitationem ipsum debitis eveniet! Reprehenderit rem atque repellendus nisi voluptas expedita, aliquid nulla, impedit distinctio at, reiciendis. Hic saepe vel quasi. Illum odit exercitationem a provident incidunt soluta sit? Voluptas quos ab aspernatur labore nisi rem totam sapiente, possimus enim explicabo numquam consequatur accusamus. Quam nobis fuga at sed, et, cupiditate sapiente consequuntur fugiat qui quas nulla harum quasi fugit, iusto nam suscipit.</p>

					<div class="row medium-unstack">
						<div class="column shrink">
							<picture class="foto">
								<img src="http://img2.timeinc.net/people/i/2014/news/140811/odeya-rush-320.jpg" alt="">
								<span class="nombre">
									Ing. Walter Piazza
								</span>
								<span class="cargo">
									Past president CAPECO
								</span>
								<span class="cargo">
									Presidente de COSAPI
								</span>
							</picture>

						</div>
						<div class="column">
							<p class="parrafo doble">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere incidunt cum ut ipsum, suscipit totam qui deserunt repudiandae! Laudantium ad, fugit laborum vel labore ipsa dolorem, explicabo sed aperiam quaerat magnam quidem dolorum qui sint odit facere eligendi voluptates repudiandae error. Nulla a deleniti, explicabo sint laborum illum impedit quas similique. Odit optio ea, assumenda iure quos minima iste voluptas consectetur, molestias laudantium dolore voluptatem nisi velit. Nobis, esse, quod! Distinctio perspiciatis, dignissimos officiis minus blanditiis optio magni? Tenetur quaerat, excepturi omnis rerum blanditiis possimus. Provident nulla sapiente quasi omnis rem autem nisi, impedit! Omnis cupiditate inventore alias corporis earum est pariatur ducimus consectetur soluta dolor possimus, architecto voluptatem perferendis voluptates reiciendis natus nemo animi ullam quo doloremque minima! Fuga tempore aperiam, unde aliquid praesentium voluptatem minima, error nisi dolore, enim pariatur perferendis veritatis et maxime fugit quos itaque. Magnam veritatis fugiat tenetur quod dolore laborum nostrum consequuntur, porro voluptate veniam perferendis similique maxime, debitis asperiores, obcaecati sint necessitatibus! In, impedit, ipsa. Nemo repellat voluptatum, quo excepturi delectus sit, exercitationem dolore id non voluptatibus pariatur hic perspiciatis possimus ab illo? Dolore natus non possimus hic, quia illum exercitationem ipsum debitis eveniet! Reprehenderit rem atque repellendus nisi voluptas expedita, aliquid nulla, impedit distinctio at, reiciendis. Hic saepe vel quasi. Illum odit exercitationem a provident incidunt soluta sit? Voluptas quos ab aspernatur labore nisi rem totam sapiente, possimus enim explicabo numquam consequatur accusamus. Quam nobis fuga at sed, et, cupiditate sapiente consequuntur fugiat qui quas nulla harum quasi fugit, iusto nam suscipit.</p>
						</div>
					</div>
				</div>

				<div class="contenido">
					<h3 class="titulo">Consejo consultivo</h3>
					<div class="row medium-unstack">
						<div class="column">
							<picture class="foto">
								<img src="http://naluda.com/interviews/wp-content/uploads/2015/11/Cree-Cicchino-3.jpg" alt="">
								<span class="nombre">Nombre de la foto</span>
								<span class="cargo">Cargo de la foto</span>
							</picture>
						</div>
						<div class="column">
							<picture class="foto">
								<img src="https://i.ytimg.com/vi/6Emmdx9dq8M/hqdefault.jpg" alt="">
								<span class="nombre">Nombre de la foto</span>
								<span class="cargo">Cargo de la foto</span>
							</picture>
						</div>
						<div class="column">
							<picture class="foto">
								<img src="http://cdn.c.photoshelter.com/img-get/I0000Of5PsxRSbiA/s/600/480/mpiDE-1004-Goosebumps-34.jpg" alt="">
								<span class="nombre">Nombre de la foto</span>
								<span class="cargo">Cargo de la foto</span>
							</picture>
						</div>
						<div class="column">
							<picture class="foto">
								<img src="http://images.twistmagazine.com/uploads/posts/image/68075/isabela-moner-musical-inspiration.jpg" alt="">
								<span class="nombre">Nombre de la foto</span>
								<span class="cargo">Cargo de la foto</span>
							</picture>
						</div>
					</div>
				</div>

				<div class="contenido comite">
					<h3 class="titulo">
						Comité Organizador
					</h3>
					<div class="row medium-unstack">
						<div class="column">
							<div class="miembro">
								<span class="nombre">Ing. Miembro</span>
								<span class="cargo">Titulo del cargo</span>
							</div>
						</div>
						<div class="column">
							<div class="miembro">
								<span class="nombre">Ing. Miembro</span>
								<span class="cargo">Titulo del cargo</span>
							</div>
						</div>
						<div class="column">
							<div class="miembro">
								<span class="nombre">Ing. Miembro</span>
								<span class="cargo">Titulo del cargo</span>
							</div>
						</div>
					</div>


				</div>

				<div class="botones">
					<a href="" class="enlace">
						<img src="{{ root }}assets/img/icono-brochure.png" alt="">
					</a>
					<a href="" class="enlace">
						<img src="{{ root }}assets/img/icono-plano.png" alt="">
					</a>
					<a href="" class="enlace">
						<img src="{{ root }}assets/img/icono-registro.png" alt="">
					</a>
				</div>
			</div>
		</div>


	</article>

	{{> pie }}

</section>

<section id="otros">
	<div class="sociales show-for-large" id="social">
		<a href="" class="enlace tw">
			<img src="{{ root }}assets/img/tw.png" alt="">
		</a>
		<a href="" class="enlace fb">
			<img src="{{ root }}assets/img/fb.png" alt="">
		</a>
		<div class="marco-tw">
		<a class="twitter-timeline" href="https://twitter.com/FERIAEXCON" data-widget-id="717020950437490690">Tweets por el @FERIAEXCON.</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
		</div>
	</div>
</section>
