<header id="encabezado">
	<div class="row medium-unstack align-middle">
		<div class="medium-5 column text-center medium-text-left">
			<h1 class="logo">
				<img src="{{ root }}assets/img/logo.png" alt="">
			</h1>
		</div>
		<div class="column">
			<div class="row align-middle">
				<div class="column text-center medium-text-right">
					<span class="">
						DEL 11 AL 15 DE OCTUBRE
					</span>
				</div>

				<div class="shrink column text-center medium-text-right">
					<div>
						FALTAN
						<div id="crono"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<nav class="navegacion">
		<div class="row">
			{{> menu}}
		</div>
	</nav>

	<div class="titular">
		<div class="row align-middle">
			<div class="column">
				<h2 class="text-center">FERIA</h2>
			</div>
		</div>


	</div>
</header>
