
<div class="small-12 columns boton-menu" data-responsive-toggle="menu-principal" data-hide-for="medium">
	<button class="menu-icon" type="button" data-toggle></button>
</div>
<div class="column" id="menu-principal">
	<ul class="menu expanded vertical medium-horizontal" data-responsive-menu="accordion medium-dropdown">
		<li><a class="enlace" href="#">Inicio</a></li>
		<li class="has-submenu active">
			<a class="enlace" href="#">La feria</a>
			<ul class="vertical menu">
				<li><a href="#" class="enlace">El evento</a></li>
				<li><a href="#" class="enlace">Comisión organizadora</a></li>
			</ul>
		</li>
		<li><a class="enlace" href="#">Expositores</a></li>
		<li><a class="enlace" href="#">Visitantes</a></li>
		<li><a class="enlace" href="#">Auspiciadores y Colaboradores</a></li>
		<li><a class="enlace" href="#">Preguntas frecuentes</a></li>
		<li><a class="enlace" href="#">Prensa</a></li>
		<li><a class="enlace" href="#">Contacto </a></li>
	</ul>
</div>
