<footer id="pie">
	<div class="row medium-unstack align-middle">
		<div class="column text-center medium-text-left">
			<span>&copy; Excon 2016</span>
		</div>
		<div class="column text-center medium-text-right">
			<span>Sigrenos en :</span>
			<a href="#" class="enlace social"><img src="{{ root }}assets/img/icono-fb.png" alt=""></a>
			<a href="#" class="enlace social"><img src="{{ root }}assets/img/icono-tw.png" alt=""></a>
			<a href="#" class="enlace social"><img src="{{ root }}assets/img/icono-in.png" alt=""></a>
			<a href="#" class="enlace social"><img src="{{ root }}assets/img/icono-yt.png" alt=""></a>
		</div>
	</div>
</footer>
